<div class="background">
  <h3>Solution</h3>
  <br/>
  <div class="form-group">
    <div><h4>Enter a string to encode</h4></div>
    <input type="text"
      class="form-control fa-pull-left" style="width: 80%;" name="encodeText" placeholder="type here..." [(ngModel)]="encodeText">
    <button type="button" name="encodeButton" class="btn btn-primary" (click)="onClickEncode(encodeText)">Encode</button>
    <div class="displayEncode">
      <label>Encode:&nbsp;</label><span>{{ finalEncodeText }}</span>
    </div>
    <div style="float: right;"><a class="btn" href="#" role="button" (click)="lickClicked(finalEncodeText)">Decode this...</a></div>
  </div>
  <br>
  <br>
  <div class="form-group">
    <div><h4>Enter an encoded string to decode</h4></div>
    <input type="text"
      class="form-control fa-pull-left" style="width: 80%;"  name="decodeText" placeholder="type here..." [(ngModel)]="decodeText">
    <button type="button" name="decodeButton" class="btn btn-primary" (click)="onClickDecode(decodeText)">Decode</button>
    <div class="displayDecode">
      <label>Decode:&nbsp;</label><span>{{ finalDecodeText }}</span>
    </div>
  </div>
</div>
